<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.2.xsd


	http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-4.1.xsd">
    <!--静态资源的解析，如js，css,img等  -->
    <mvc:resources location="/jquery/" mapping="/jquery/**"/>
    <mvc:resources location="/WEB-INF/img" mapping="/WEB-INF/img/**"/>
    <!-- 组件扫描，可以扫描controller，service 等等
      这里让它扫描controller，所以指定controller的包
     -->
    <security:global-method-security secured-annotations="enabled" pre-post-annotations="enabled" />

    <mvc:annotation-driven/>
    <context:component-scan base-package="com.spring.jpa"></context:component-scan>
   <!-- <mvc:view-controller path="/adduser" view-name="adduser"/> 查看一下用法-->
    <!-- 视图解析器 , 解析jsp，默认使用jstl标签，classpath下边都有jstl的包-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 配置jsp的前缀 -->
        <property name="prefix" value="/WEB-INF/page/"></property>
        <!-- 配置jsp的后缀 -->
        <property name="suffix" value=".jsp"></property>
    </bean>
    <!--配置SpringMVC拦截器-->
   <!-- <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.spring.jpa.interceptor.LoginInterceptor"></bean>
        </mvc:interceptor>

    </mvc:interceptors>-->


</beans>